/* You can add global styles to this file, and also import other style files */
body {
  background-color: #ebebeb;
  font-size: 14px;
  overflow-x: hidden;
  font-family: "poppins", sans-serif, "poppins", sans-serif;
}
